*\.ipynb_checkpoints
Problems\Chapter_01\data\corine.tif
\Problems\Chapter_01\data\corine.tif
Problems/Chapter_01/data/corine.tif
Figures/Chapter_14/data/population/GHS_POP_E2015_GLOBE_R2019A_4326_30ss_V1_0.tif
Figures/Chapter_14/data/population/GHS_POP_E2015_GLOBE_R2019A_4326_30ss_V1_0.tif.ovr
Figures/Chapter_14/data/population/GHS_POP_E2015_GLOBE_R2019A_4326_30ss_V1_0.tif.xml
Figures/Chapter_14/data/cutout/europe-2013-era5.nc
Figures/Chapter_14/data/hourly-electricity-demand-by-state
Figures/Chapter_14/data/radiation
Figures/Chapter_14/data/meridian_2019_0.nc
/Problems/Chapter_02/data/anual_series_43.6_3.87_PVGIS-ERA5.csv
/Problems/Chapter_02/data/anual_series_43.6_3.87_PVGIS-SARAH2.csv
/Problems/Chapter_02/data/anual_series_-41.29_174.77_PVGIS-ERA5.csv
