*\.ipynb_checkpoints
Problems\Chapter_01\data\corine.tif
\Problems\Chapter_01\data\corine.tif
Problems/Chapter_01/data/corine.tif
Figures/Chapter_14/data/population/GHS_POP_E2015_GLOBE_R2019A_4326_30ss_V1_0.tif
Figures/Chapter_14/data/population/GHS_POP_E2015_GLOBE_R2019A_4326_30ss_V1_0.tif.ovr
Figures/Chapter_14/data/population/GHS_POP_E2015_GLOBE_R2019A_4326_30ss_V1_0.tif.xml
